# 复制为 .env 后按需修改；.env 不入库。
# 端口如与本机已有服务冲突，改这里即可。

POSTGRES_USER=videoforge
POSTGRES_PASSWORD=videoforge
POSTGRES_DB=videoforge
POSTGRES_PORT=5432

REDIS_PORT=6379

MINIO_ROOT_USER=videoforge
MINIO_ROOT_PASSWORD=videoforge123
MINIO_PORT=9000
MINIO_CONSOLE_PORT=9001

TEMPORAL_PORT=7233
TEMPORAL_UI_PORT=8233

API_PORT=8000
WEB_PORT=5173
